<h3 class="title">Schedule</h3>

<p style="color: green"><%= notice %></p>

<div class="table w-full">
  <div class="table-header-group">
    <div class="table-row">
      <div class="table-cell">
        Start Time
      </div>

      <div class="table-cell">
        End Time
      </div>

      <div class="table-cell">
        Student Name
      </div>
    </div>
  </div>

  <%= render @appointments %>
</div>
