<h3 class="title col-span-12"><%= current_user.name %>'s Schedule</h3>

<p style="color: green" class="col-span-12"><%= notice %></p>

<div class="table w-full col-span-12">
  <div class="table-header-group">
    <div class="table-row">
      <div class="table-cell">
        Start Time
      </div>

      <div class="table-cell">
        End Time
      </div>

      <div class="table-cell">
        Student Name
      </div>
    </div>
  </div>

  <%= render @appointments %>
</div>
