<h3 class="title col-span-12">
  <%= @calendar.coach.name %>'s Calendar
</h3>

<p class="notice col-span-12"><%= notice %></p>

<%= render partial: "calendar", locals: { calendar: @calendar, availabilities: @availabilities } %>

<% if current_user.coach? %>
  <%= link_to "Add Availability",
              new_user_calendar_availability_path(current_user),
              class: "button col-span-2 mt-2 text-center" %>
<% end %>
