<h1 class="col-span-12 title mb-2">Coaches</h2>

<div class="table w-full col-span-12">
  <div class="table-header-group">
    <div class="table-row">
      <div class="table-cell border-solid border">
        Name
      </div>
    </div>
  </div>

  <%= render @coaches %>
</div>
