<div id="appointment_<%= appointment.id %>" class="table-row appointment">
  <div class="table-cell">
    <%= appointment.start_time %>
  </div>

  <div class="table-cell">
    <%= appointment.start_time %>
  </div>

  <div class="table-cell">
    <%= appointment.student.name %>
  </div>
</div>
