<div class="table-row <%= cycle('even', 'odd') %>">
  <div class="table-cell">
    <%= availability.start_time.strftime("%-m-%-d-%y %H:%M %Z") %>
  </div>

  <div class="table-cell">
    <%= availability.end_time.strftime("%-m-%-d-%y %H:%M %Z") %>
  </div>

  <% if current_user.is_a?(Coach) %>
    <div class="table-cell">
      <% if availability.reserved? %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon">
          <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z" clip-rule="evenodd" />
        </svg>
      <% end %>
    </div>
  <% end %>

  <%= render "#{current_user.type.underscore}_actions", availability: availability %>
</div>
