<div class="col-span-12 py-2">
  Currently logged in as <%= current_user.type %> <%= current_user.name %>.
</div>

<%= link_to "/change_user", class: "button mt-3 col-span-4 text-center" do %>
  <%= current_user.student? ? 'Log in as Coach' : 'Log in as Student' %>
<% end %>
