<div>
  <p>
    Welcome, <%= current_user.name %>!

    <% if current_page?(controller: 'calendars', action: 'show') %>
      <%= link_to "Schedule", user_schedule_path(current_user), class: "button" %>
    <% else %>
      <% if current_user.is_a?(Coach) %>
        <%= link_to "Calendar", user_calendar_path(current_user), class: "button" %>
      <% else %>
        <%= link_to "Coaches", "/coaches", class: "button" %>
      <% end %>
    <% end %>

  </p>
</div>
